 {% extends 'core/base.html' %}
 {% load static %}
 {% block content %}
 <div class=" mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/manish.jpeg' %}" alt="manish" class="img-thumbnail" width="250px" height="150px">
    </div>
     <div class="text-white mt-5 mx-5 text-justify">
         <h1 class="font-weight-bold st-font">Hello,</h1>
     <div class="text-white px-4" style="line-height: 2rem;">
         <p style="text-indent: 100px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At necessitatibus, eaque, distinctio odio aspernatur voluptate quasi accusantium earum quam possimus et libero rem expedita laudantium suscipit cum. Quo blanditiis quia sunt quae? Quisquam rem quaerat facere ipsa deserunt corporis quasi, non impedit, quis rerum, voluptate ipsum cum doloribus tenetur nemo iste soluta quos eius pariatur. Dolorem id similique deleniti consequatur rerum ipsum adipisci odio quis, tempora accusantium quas porro dolor magni quo, iure corporis a, ut inventore possimus doloremque aut!</p>
     </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3 ">Contact Me</a>
    </div>
 </div>
 {% endblock content %}
